<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451744741397-sdl27r4hp6vk76csp16j4hg97mh0q354.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451744741397-sdl27r4hp6vk76csp16j4hg97mh0q354</string>
	<key>API_KEY</key>
	<string>AIzaSyDwmrX2iUTo4UX0r5mJxVBKgtq_9VN4yDo</string>
	<key>GCM_SENDER_ID</key>
	<string>451744741397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-c9698</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-c9698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451744741397:ios:4ab0f98114a671288f761c</string>
</dict>
</plist>